@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #EA6140;
    --valid-color: #32a39a; 
    --error-color: #dc143c;
    --text-color: #ffffff;
    --accent-color: #9125e9;
    --background-color: #070725;

    --input-background-color: #eeeeee;
    --input-border-color: #ffffff;
}


* {
    font-family: "Poppins", Helvetica, sans-serif;
    /* outline: 1px solid white; */
}

body{
    background-color: var(--background-color);
    background-image: url('images/background-stars.svg');
    background-size: center/cover;
    height: 100vh;
    display: flex;
    padding: 0.5rem;

    color: white;
}

/* hero section */

#hero{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('images/planet-mars.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.headline{
    font-size: 2.8rem;
    text-wrap: balance;
    padding: 0 max(2rem, 8%);
}

.quote{
    font-size: 1.2rem;
    text-wrap: pretty;
    padding: 0.5rem max(2rem, 8%) 2rem max(2rem, 8%);
}

#form-section{
    flex: 5;
}

